@import '_functions';

$theme: (
        'default': #172b4d,
        'primary': #5e72e4,
        'secondary': #f4f5f7,
        'info': #11cdef,
        'success': #2dce89,
        'danger': #f5365c,
        'warning': #fb6340,
);

$socials: (
        'facebook': #3b5999,
        'twitter': #1da1f2,
        'instagram': #e4405f,
        'github': #222,
        'pinterest': #bd081c,
        'youtube': #cd201f,
        'vimeo': #1ab7ea,
        'slack': #3aaf85,
        'dribbble': #ea4c89,
        'reddit': #ff4500,
        'tumblr': #35465c,
        'linkedin': #0077b5,
);

$colors: (
        'black': #000000,
        'dark': #333333,
        'white': #FFFFFF,
        'grey-800': #8C8C8C,
        'grey-700': #C9C9C9,
        'grey-600': #DDDDDD,
        'grey-500': #E8E8E8,
        'grey-400': #F3F3F3,
        'grey-300': #F9F9F9,
);

$font-size: (
        '4xs': 8px,
        '3xs': 10px,
        '2xs': 12px,
        'xs': 14px,
        'sm': 16px,
        'md': 18px,
        'lg': 20px,
        'xl': 22px,
        '2xl': 24px,
        '3xl': 26px,
        '4xl': 28px,
        '5xl': 30px,
        '6xl': 32px,
        '7xl': 34px,
        '8xl': 36px,
        '9xl': 38px,
        '10xl': 40px,
        '11xl': 42px,
        '12xl': 44px,
        '13xl': 46px,
);

$font-weight: (
        'thin': 100,
        'extra-light': 200,
        'light': 300,
        'regular': 400,
        'medium': 500,
        'semi-bold': 600,
        'bold': 700,
        'extra-bold': 800,
        'black': 900,
);

$font-family: (
        'default': 'Open Sans'
);

$padding: (
        '4xs': 1px,
        '3xs': 2px,
        '2xs': 4px,
        'xs': 8px,
        'sm': 16px,
        'md': 24px,
        'lg': 32px,
        'xl': 40px,
        '2xl': 48px,
        '3xl': 56px,
        '4xl': 64px,
);

$margin: (
        '4xs': 1px,
        '3xs': 2px,
        '2xs': 4px,
        'xs': 8px,
        'sm': 16px,
        'md': 24px,
        'lg': 32px,
        'xl': 40px,
        '2xl': 48px,
        '3xl': 56px,
        '4xl': 64px,
);

$distances: (
        '4xs': 1px,
        '3xs': 2px,
        '2xs': 4px,
        'xs': 8px,
        'sm': 16px,
        'md': 24px,
        'lg': 32px,
        'xl': 40px,
        '2xl': 48px,
        '3xl': 56px,
        '4xl': 64px,
);

$transition-duration: (
        'very-slow': 2s,
        'slow': 1s,
        'normal': .5s,
        'fast': .25s,
        'very-fast': .1s,
);

$breakpoint: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
);

@import '_mixins';