*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*:active,
*:focus {
  outline: 0;
}

:root {
  font-size: 16px;
}

:root,
body,
#__next {
  min-height: calc(100vh + 1px);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}
