{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react",
    "react-hooks",
    "import"
  ],
  "rules": {
    "react/jsx-sort-props": [
      "error",
      {
        "shorthandLast": true
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "index",
          "parent",
          "sibling"
        ],
        "pathGroups": [
          {
            "pattern": "{react,react**,react/**}",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "{next,next**,next/**}",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "{prop-types}",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "{@material-ui/core,@material-ui/core**}",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "{@material-ui/lab,@material-ui/lab**}",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "{@material-ui/icons,@material-ui/icons**}",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "{base/**,utils/**,storages/**/*}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "urls",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@components**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@sections**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@forms**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@pages**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "asset**",
            "group": "sibling",
            "position": "after"
          },
          {
            "pattern": "**.styled",
            "group": "sibling",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ]
}
